<header>
  <h1>Cart-ography</h1>
  <h3>the best Truck for your Buck</h3>
  <h4>{{#link-to 'index'}}Home{{/link-to}}</h4>
  <h4>{{#link-to 'addcart'}}Add a Cart{{/link-to}}</h4>
</header>


  {{outlet}}
